Django==3.2.4
django-cors-headers==3.7.0
django-dotenv==1.4.2
django-timezone-field==4.2.1
djangorestframework==3.12.4
djangorestframework-simplejwt==5.1.0
gunicorn==20.1.0
hyperlink==19.0.0
incremental==16.10.1
Jinja2==2.10.1
Pillow==8.3.0
psycopg2-binary==2.9.3
PyJWT==2.3.0




